body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:15px;
  width:33px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:31px;
  height:30px;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
  text-align:center;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:282px;
  width:300px;
  height:25px;
}
#u2324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:368px;
  width:150px;
  height:25px;
}
#u2325_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:251px;
  width:141px;
  height:19px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:339px;
  width:71px;
  height:19px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 173, 25, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:368px;
  width:118px;
  height:25px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1AAD19;
  text-align:center;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:371px;
  width:74px;
  height:19px;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1AAD19;
  text-align:center;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(145, 237, 97, 1) 0%, rgba(145, 237, 97, 1) 0%, rgba(26, 173, 25, 1) 100%, rgba(26, 173, 25, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(145, 237, 97, 1) 0%, rgba(145, 237, 97, 1) 0%, rgba(26, 173, 25, 1) 100%, rgba(26, 173, 25, 1) 100%);
  background:linear-gradient(180deg, rgba(145, 237, 97, 1) 0%, rgba(145, 237, 97, 1) 0%, rgba(26, 173, 25, 1) 100%, rgba(26, 173, 25, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 173, 25, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:435px;
  width:300px;
  height:33px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:442px;
  width:41px;
  height:19px;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#91ED61;
  text-align:center;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:92px;
  width:58px;
  height:55px;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#91ED61;
  text-align:center;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-12px;
  width:58px;
  word-wrap:break-word;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#91ED61;
  text-align:center;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:177px;
  width:113px;
  height:25px;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#91ED61;
  text-align:center;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:641px;
  width:151px;
  height:14px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
  text-align:center;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:641px;
  width:61px;
  height:14px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:underline;
  color:#999999;
  text-align:center;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:368px;
  width:118px;
  height:25px;
  overflow:hidden;
  visibility:hidden;
}
#u2346_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2346_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 173, 25, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1AAD19;
  text-align:center;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:3px;
  width:93px;
  height:19px;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1AAD19;
  text-align:center;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
