body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:8px;
  width:65px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:8px;
  width:22px;
  height:22px;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:595px;
  width:375px;
  height:51px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(145, 237, 97, 1) 0%, rgba(145, 237, 97, 1) 0%, rgba(26, 173, 25, 1) 100%, rgba(26, 173, 25, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(145, 237, 97, 1) 0%, rgba(145, 237, 97, 1) 0%, rgba(26, 173, 25, 1) 100%, rgba(26, 173, 25, 1) 100%);
  background:linear-gradient(180deg, rgba(145, 237, 97, 1) 0%, rgba(145, 237, 97, 1) 0%, rgba(26, 173, 25, 1) 100%, rgba(26, 173, 25, 1) 100%);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:603px;
  width:257px;
  height:37px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:612px;
  width:60px;
  height:19px;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:40px;
  width:374px;
  height:555px;
  overflow:hidden;
  touch-action:none;
}
#u1381_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:555px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1381_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:712px;
  overflow:hidden;
}
#u1382_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:712px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1382_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:168px;
  background:inherit;
  background-color:rgba(145, 237, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:168px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFBE00;
  text-align:center;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:42px;
  width:92px;
  height:72px;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFBE00;
  text-align:center;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  word-wrap:break-word;
}
#u1387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:127px;
  width:47px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:375px;
  height:68px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:194px;
  width:20px;
  height:16px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:185px;
  width:32px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:202px;
  width:98px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:98px;
  white-space:nowrap;
}
#u1397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:375px;
  height:68px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:262px;
  width:20px;
  height:16px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:253px;
  width:32px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:270px;
  width:98px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:98px;
  white-space:nowrap;
}
#u1405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:304px;
  width:375px;
  height:68px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:330px;
  width:20px;
  height:16px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:321px;
  width:32px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:338px;
  width:98px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:98px;
  white-space:nowrap;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:372px;
  width:375px;
  height:68px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:398px;
  width:20px;
  height:16px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:389px;
  width:32px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:406px;
  width:98px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:98px;
  white-space:nowrap;
}
#u1421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:375px;
  height:68px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:466px;
  width:20px;
  height:16px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:457px;
  width:32px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:474px;
  width:98px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:98px;
  white-space:nowrap;
}
#u1429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:508px;
  width:375px;
  height:68px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:534px;
  width:20px;
  height:16px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:525px;
  width:32px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:542px;
  width:98px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:98px;
  white-space:nowrap;
}
#u1437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:576px;
  width:375px;
  height:68px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:602px;
  width:20px;
  height:16px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:593px;
  width:32px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:610px;
  width:98px;
  height:17px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:98px;
  white-space:nowrap;
}
