body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:8px;
  width:65px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:8px;
  width:22px;
  height:22px;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  word-wrap:break-word;
}
#u2111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:606px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:606px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:295px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
