body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:8px;
  width:65px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:606px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:606px;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:295px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:8px;
  width:22px;
  height:22px;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  word-wrap:break-word;
}
#u1529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:500px;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:50px;
  width:350px;
  height:500px;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(145, 237, 97, 1) 0%, rgba(145, 237, 97, 1) 0%, rgba(26, 173, 25, 1) 100%, rgba(26, 173, 25, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(145, 237, 97, 1) 0%, rgba(145, 237, 97, 1) 0%, rgba(26, 173, 25, 1) 100%, rgba(26, 173, 25, 1) 100%);
  background:linear-gradient(180deg, rgba(145, 237, 97, 1) 0%, rgba(145, 237, 97, 1) 0%, rgba(26, 173, 25, 1) 100%, rgba(26, 173, 25, 1) 100%);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:577px;
  width:257px;
  height:37px;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:586px;
  width:60px;
  height:19px;
  font-family:'萍方-简 Bold', '萍方-简 正规体', '萍方-简';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
