body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:8px;
  width:65px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:606px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:606px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:295px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:32px;
  height:32px;
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:32px;
  word-wrap:break-word;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:92px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:101px;
  width:33px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:375px;
  height:45px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:187px;
  width:33px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:72px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:76px;
  width:74px;
  height:72px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:219px;
  width:375px;
  height:45px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:231px;
  width:33px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:375px;
  height:45px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:276px;
  width:65px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:187px;
  width:66px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:232px;
  width:66px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:274px;
  width:65px;
  height:22px;
  font-family:'萍方-简 正规体', '萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
